div(ng-controller="WebReferencePopoverController")
	ui-popover-body(ui-tooltips-attachment="north")
		| Link to

		a.reference-link(
			href="{{templateData.reference.target}}",
			target="_blank",
			ui-tooltip-content="Click to open this link in a new window")
			| {{templateData.reference.target}}

		p(ng-if="templateData.reference.description")
			| {{templateData.reference.description}}

		.alert.alert--warning(ng-if="templateData.reference.metadata.suspiciousReason")
			| {{templateData.reference.metadata.suspiciousReason}}

	ui-popover-footer
		ui-button(
			ng-if="templateData.reference.metadata.isSuspicious",
			type="secondary",
			label="Mark as valid",
			click="markReferenceAsValid()")

		ui-button(
			type="primary",
			label="Edit",
			click="editReference()")
