div(ng-controller="WebReferencePopoverController")
	ui-popover-body(ui-tooltips-attachment="north")
		| Link to

		a.reference-link(
			href="{{templateData.reference.target}}"
			target="_blank"
			ui-tooltip-content="Click to open this link in a new window")
			| {{templateData.reference.target}}

		p(ng-if="templateData.reference.metadata.description")
			| {{templateData.reference.metadata.description}}

		//- TODO: This is not specific to web references and should be moved to fontoxml-references
		.alert.alert--warning(ng-if="templateData.reference.metadata.suspiciousReason")
			| {{templateData.reference.metadata.suspiciousReason}}

	//- TODO: This is not specific to web references and should be moved to fontoxml-references
	ui-popover-footer(
		is-ui-region-root-row
		horizontal-alignment="right"
		ui-tooltips-attachment="south")
		ui-region-column(size="fixed")
			ui-region-content
				ui-button(
					ng-if="templateData.reference.metadata.isSuspicious"
					type="secondary"
					label="Mark as valid"
					click="markReferenceAsValid()")

				ui-button(
					type="primary"
					label="Edit"
					click="editReference()")
