div(ng-controller="WebReferencePopoverController")
	ui-popover-body(ui-tooltips-attachment="north")
		| Link to

		a.reference-link(
			href="{{templateData.reference.target}}",
			target="_blank",
			ui-tooltip-content="Click to open this link in a new window")
			| {{templateData.reference.target}}

	ui-popover-footer
		ui-button(
			type="primary",
			label="Edit",
			ng-click="editReference()")
