ui-modal(
	id="web-reference-modal"
	ng-keyup="$event.keyCode === 13 && insertUrlReferenceForm.$valid && apply()")
	ui-modal-header(
		title="{{templateData.operationData.modalTitle}}"
		subtitle="{{templateData.operationData.modalSubtitle || 'Enter the web address for this hyperlink'}}"
		icon="globe")

	ui-modal-body
		form.form-horizontal(novalidate name="insertUrlReferenceForm")
			ui-region-root-row
				ui-region-column(size="fixed")
					label.control-label(for="web-reference-modal--url")
						| Web address

				ui-region-column.has-feedback(
					ng-class="{ \
						'has-success': insertUrlReferenceForm.url.$valid,\
						'has-warning': insertUrlReferenceForm.url.$invalid \
					}")
					input.form-control(
						id="web-reference-modal--url"
						name="url"
						type="text"
						ng-model="templateData.reference.target"
						ng-blur="onBlur()"
						ng-paste="onPaste()"
						ng-pattern="templateData.urlPattern"
						required)

					.icon.form-control-feedback(
						ng-class="{ \
							'icon-warning': insertUrlReferenceForm.url.$invalid, \
							'icon-check': insertUrlReferenceForm.url.$valid && insertUrlReferenceForm.url.$dirty && templateData.reference.target != '' \
						}")

	ui-modal-footer
		ui-button-bar
			ui-button-bar-region
				ui-button(
					type="default"
					label="Cancel"
					click="cancel()")

			ui-button-bar-region
				ui-button(
					type="primary"
					label="{{templateData.operationData.modalPrimaryButtonLabel || 'Insert'}}"
					click="apply()"
					enabled="{{insertUrlReferenceForm.$valid}}")
