ui-modal(ng-keyup="$event.keyCode === 13 && insertUrlReferenceForm.$valid && apply()")
	ui-modal-header(
		title="{{templateData.title}}"
		icon="globe")

	ui-modal-body
		.modal-body__section
			.alert
				| Enter the web address for this link.

		.modal-body__section
			form.form-horizontal(novalidate, name="insertUrlReferenceForm")
				.form-group.has-feedback
					label.control-label.col-sm-3
						| Web address

					.col-sm-9
						input.form-control.has-feedback(
							name="url"
							type="text"
							ng-model="templateData.reference.target"
							ng-blur="onBlur()"
							ng-paste="onPaste()"
							ng-pattern="templateData.urlPattern"
							required)

						.icon.form-control-feedback(
							ng-class="{'icon-warning': insertUrlReferenceForm.url.$invalid, \
							           'icon-check': insertUrlReferenceForm.url.$valid && insertUrlReferenceForm.url.$dirty && templateData.reference.target != ''}")

	ui-modal-footer
		ui-button-bar
			ui-button-bar-region
				ui-button(
					type="default"
					label="Cancel"
					click="cancel()",
					enabled="{{!templateData.busy}}"
				)

			// @NOTICE: This code should be removed as soon as there is a mechanism to give ui-buttons a "busy" state of
			//          some sort. See also userstory FONTOXML-661. Also the ng-if for the next button may be deleted then.
			ui-button-bar-region(ng-if='templateData.busy')
				span Please wait while your link is being resolved
				ui-button(
					type="primary"
					icon="spinner"
					label="{{templateData.primaryButtonLabel}}"
					click="apply()"
					enabled="{{false}}")
			// End of temporary code

			ui-button-bar-region(ng-if='!templateData.busy')
				ui-button(
					type="primary"
					label="{{templateData.primaryButtonLabel}}"
					click="apply()"
					enabled="{{insertUrlReferenceForm.$valid}}")
