ui-modal(
	id="web-reference-modal"
	on-enter-key="isValid() && apply()"
	on-escape-key="cancel()")
	ui-modal-header(
		title="{{templateData.operationData.modalTitle}}"
		subtitle="{{templateData.operationData.modalSubtitle || templateData.messages.modalDefaultSubtitle}}"
		icon="globe")

	ui-modal-body
		form.form-horizontal
			ui-region-root-row
				ui-region-column(size="fixed")
					label.control-label(for="web-reference-modal--url")
						| {{templateData.operationData.fieldLabel || 'Web address'}}

				ui-region-column.has-feedback(
					gutter-size="small"
					ng-class="{ \
						'has-success': isValid(),\
						'has-warning': !isValid() \
					}")
					ui-region-row
						input.form-control(
							ui-autofocus
							id="web-reference-modal--url"
							type="text"
							ng-model="templateData.reference.target"
							required)

						.icon.form-control-feedback(
							ng-class="{ \
								'icon-warning': !isValid(), \
								'icon-check': \
									isValid() &&\
									templateData.insertUrlReferenceForm.url.$dirty &&\
									templateData.reference.target != '' \
							}")

					ui-region-row
						ui-region-content
							.alert.alert--warning(
								ng-if="!isValid()")
								p
									| {{templateData.messages.invalidLinkWarning}}

	ui-modal-footer
		ui-button-bar
			ui-button-bar-region
				ui-button(
					type="default"
					label="{{templateData.messages.cancelButtonLabel}}"
					click="cancel()")

			ui-button-bar-region
				ui-button(
					type="primary"
					label="{{templateData.operationData.modalPrimaryButtonLabel || templateData.messages.applyButtonDefaultLabel}}"
					click="apply()"
					enabled="{{isValid()}}")
