ui-modal(ng-keyup="$event.keyCode === 13 && insertUrlReferenceForm.$valid && apply()")
	ui-modal-header(
		title="{{templateData.title}}"
		icon="globe")

	ui-modal-body
		.modal-body__section
			.alert
				| Enter the web address for this link.

		.modal-body__section
			form.form-horizontal(novalidate, name="insertUrlReferenceForm")
				.form-group.has-feedback
					label.control-label.col-sm-2
						| Web address

					.col-sm-10
						input.form-control.has-feedback(
							name="url"
							type="text"
							ng-model="templateData.reference.target"
							ng-blur="onBlur()"
							ng-paste="onPaste()"
							ng-pattern="templateData.urlPattern"
							required)

						.icon.form-control-feedback(
							ng-class="{'icon-warning': insertUrlReferenceForm.url.$invalid, \
							           'icon-check': insertUrlReferenceForm.url.$valid && insertUrlReferenceForm.url.$dirty && templateData.reference.target != ''}")

	ui-modal-footer
		ui-button-bar
			ui-button-bar-region
				ui-button(
					type="default"
					label="Cancel"
					click="cancel()")

			ui-button-bar-region
				ui-button(
					type="primary"
					label="Insert"
					click="apply()"
					enabled="{{insertUrlReferenceForm.$valid}}")
